.Rules {
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Rules-title {
  font-size: 3rem;
}

.Rules-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Rules-text {
  max-width: 600px;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: justify;
}

.Rules-message {
  margin-top: 30px;
  font-size: 1.2rem;
}

.Rules-button {
  margin-top: 70px;
  font-size: 1.3rem;
  padding: 5px 20px;
}
